---
import joinUsOnDiscord from "../assets/join-us-on-discord.png"
---

<div>
	<a href="https://discord.gg/RF9RHS7awU" rel="noopener noreferrer">
		<img src={joinUsOnDiscord.src} alt="Join us on Discord" width={250} />
	</a>
</div>

<style>
	div {
		width: 100%;
		display: flex;
		justify-content: center;
	}
</style>
